/* css/page.css */
.page {
  display: none;
}

.page.active {
  display: block;
}

.card {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 0;
  border-top: 1px solid var(--brdr);
  border-bottom: none;
}

.card-image {
  width: 20%;
  min-width: 100px;
  object-fit: fill;
  border-radius: 4px;
  flex-shrink: 0;
}

.card-content {
  font-size: 0.95rem;
}

.card-content strong {
  font-family: "Libre Baskerville", serif;
  padding-bottom: 0.5rem;
}

.filters {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.filter {
  background: transparent;
  border: 1px solid var(--brdr);
  color: var(--lnk);
  padding: 0.3rem 0.75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.85rem;
  cursor: pointer;
  border-radius: 4px;
}

.filter:hover {
  background-color: var(--brdr);
}

.filter.active {
  background-color: var(--brdr);
  color: var(--txt);
}

.search {
  margin-bottom: 2rem;
}

#spellSearch {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--brdr);
  border-radius: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.85rem;
  background-color: var(--bg);
  color: var(--txt);
}

#spellSearch:active, #spellSearch:focus {
  outline: none;
  background: var(--brdr);
}
