/* css/style.css */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("page.css");

:root, [data-theme='dark'] {
  --bg: #1b1f1c;
  --bg2: #252e28;
  --brdr: #2f3633;
  --shdw: #2f36333d;
  --txt: #e6e6e6;
  --lnk: #afe1af;
  --ttl2: #ebf5e4;
}

[data-theme='light'] {
  --bg: #fcf5e5;
  --bg2: #dbd5c5;
  --brdr: #dfd5be;
  --shdw: #dfd5be3d;
  --txt: #1b1f1c;
  --lnk: #2e8b57;
  --ttl2: #587a5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: radial-gradient(circle at center, var(--bg2), var(--bg)); */
  background-color: var(--bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--txt);
  line-height: 1.6;
  font-size: 0.95rem;
}

header {
  text-align: center;
  padding: 2.5rem 1rem;
  border-bottom: 1px solid var(--brdr);
}

#themeToggle {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  color: var(--txt);
}

#themeToggle:hover {
  opacity: 0.7;
}

.subtitle {
  margin-top: 0.5rem;
  opacity: 0.8;
}

nav {
  margin-top: 1.5rem;
}

nav a {
  margin: 0 0.75rem;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: var(--lnk);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

section {
  margin-bottom: 3rem;
}

#titleBig {
  display: none;
}

#titleSmall {
  display: block;
}

h1, h2 {
  font-family: "Libre Baskerville", serif;
}

h2 {
  margin-bottom: 0.75rem;
  letter-spacing: 0.03em;
  font-size: 1.25rem;
  color: var(--ttl2);
}

footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
}

footer p {
  position: fixed;
  bottom: 1.5rem;
  right: 50%;
  transform: translateX(50%);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;
  width: auto;
  min-width: 125px;
  border-radius: 5px;
  border: 1px solid var(--brdr);
  background: var(--bg);
  color: var(--txt);
  box-shadow: 0 0 5px var(--shdw);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--brdr);
}

img {
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Edge, Opera and Firefox */
}

/* Screen size adjustments */
@media screen and (min-width: 600px) {
  #themeToggle {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.25rem !important;
  }

  #titleBig {
    display: block !important;
  }

  #titleSmall {
    display: none !important;
  }

  footer p {
    right: 1.5rem !important;
    transform: translateX(0) !important;
  }
}
