/* css/style.css */
@import url("font.css");
@import url("page.css");

:root, [data-theme='dark'] {
  --bg: #2a2b2e;
  --bg2: #35363a;
  --brdr: #5a5b5e;      
  --shdw: #0000003d;
  --txt: #d1d1d1;
  --lnk: #8ba88e; 
  --ttl2: #ebf5e4;
  --accnt: #a393bf;
}

[data-theme='light'] {
  --bg: #f4f1e6;
  --bg2: #ece8d9;
  --brdr: #b8b1a2;
  --shdw: #dfd5be3d;
  --txt: #424b43;
  --lnk: #587a5c;
  --ttl2: #587a5c;
  --accnt: #7e69a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background-color: var(--bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--txt);
  line-height: 1.6;
  font-size: 0.95rem;
}

/* ------ Header ------ */

header {
  text-align: center;
  padding: 3rem 1rem;
  border-bottom: 1px solid var(--brdr);
}

#themeToggle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--txt);
}

#themeToggle:hover {
  opacity: 0.7;
}

.subtitle {
  margin-top: 0.5rem;
  opacity: 0.8;
  font-style: italic;
}

nav {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

nav a {
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--txt);
  cursor: pointer;
}

nav a:hover {
  color: var(--lnk);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--lnk);
}

/* ------ Main ------ */

main {
  max-width: 750px;
  margin: 3rem 3rem;
  padding: 3rem;
  background: transparent;
  border: 1px solid var(--brdr);
  outline: 6px solid var(--bg);
  box-shadow: 0 0 0 7px var(--brdr);
}

section {
  margin-bottom: 3rem;
}

#titleBig {
  display: none;
  font-size: 2.5rem;
}

#titleSmall {
  display: block;
}

h1, h2 {
  font-family: "Libre Baskerville", serif;
}

h2 {
  margin-bottom: 1.25rem;
  letter-spacing: 0.03em;
  font-size: 1.5rem;
  color: var(--ttl2);
  display: flex;
  align-items: center;
  gap: 12px;
}

h2::before {
  content: "✦";
  color: var(--accnt);
  font-size: 0.9rem;
}

/* ------ Footer ------ */

footer {
  text-align: center;
  padding: 4rem 1.5rem;
  font-size: 0.8rem;
  font-family: "Libre Baskerville", serif;
  text-transform: lowercase;
}

footer p {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  background: transparent;
}

footer p a {
  color: var(--txt);
}

footer p:hover a {
  color: var(--lnk);
}

/* ------ Other ------ */

.noselect {
  user-select: none;
}

@media screen and (min-width: 768px) {
  main {
    margin: 3rem auto;
  }

  #themeToggle {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 1.25rem !important;
  }

  #titleBig {
    display: block !important;
  }

  #titleSmall {
    display: none !important;
  }
}
